* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 20px; 
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 20px ;
  padding: 20px;
  margin: 50px;
}

.container input {
  padding: 10px;
  background-color: black;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
}

.keypad {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

button {
  padding: 18px;
  cursor: pointer;
}

.message {
  color: green;
}

.error {
  color: red;
}